<p>Add employee to Team</p>
<%= form_tag :action => 'listemployee' do |f| %> 
  <%= select_tag(:id, 
  options_for_select(Employee.all.map{ |f| [f.name, f.id]}), :prompt => "Select Employee") %> 
  <%= submit_tag "Submit" %> 
<% end %>