<% if @team.blank? %>
<p>No teams.</p>
<% else %>
<p>Current teams</p>

<ul id = "team">
   <% @team.each do |t| %>
   <li><%= link_to t.name, {:action => 'show', :id => t.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new team", {:action => 'new' }%></p>