<h1>New Team</h1>
<%= form_for :team, :url => {:action => 'create'} do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', {:action => 'index'} %>