<h1><%= @team.name %></h1>

<p>
   <strong>Name: </strong> <%= @team.name %><br />

</p>
<p>Add employee to Team</p>
<%= form_tag teams_addemployee_path(@team.id)do %> 
   <%= collection_select :employee, :id, Employee.all, :id, :name %>
   <%= submit_tag %>
<% end %>
<%= link_to 'Back', {:action => 'index'} %>

