<% if @employee.blank? %>
<p>There are not any employee currently in the system.</p>
<% else %>
<p>These are the current employee in our system</p>

<ul id = "employee">
   <% @employee.each do |e| %>
   <li><%= link_to e.name, {:action => 'show', :id => e.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new employee", {:action => 'new' }%></p>
<%= link_to 'Team',:controller => "teams", :action => 'index'%>