<h1><%= @employee.name %></h1>

<p>
   <strong>Name: </strong> <%= @employee.name %><br />
   <strong>Date of Join :</strong> <%= @employee.date_of_join %><br />
   <strong>Designation:</strong> <%= @employee.designation %><br />
   <strong>RegistratioN ID:</strong> <%= @employee.registration_id %><br />
</p>

<%= link_to 'Back', {:action => 'index'} %>

